apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-java-springboot-tfbfiort
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-java-springboot-tfbfiort:15b1589e000fb95e5c43d080688f8bc76a166628@sha256:ae12d3b7e4c63c8f9774d3da3dbe203e1291e1e5ccec0f87baf0a7393a2a1d79
          name: container-image
